#title {
    text-align: center;
    font-size: 4em;
    font-weight: bolder;
    font-family: "Fredericka the Great", serif;
}

body {
    font-size: 100%;
    background-image: url(./assets/5006.png);
    background-color: antiquewhite;
}

/* class properties lead with . */
.footer {
    font-size: .7em;
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #555; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* id properties lead with # */
#FileInput {
    margin-left: 20%;
    padding-bottom: 20px;
}

#download {
    margin-left: 20%;
    padding-top: 20px;
}

#map {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#finMap {
    max-width: 800px;
    width: auto;
    height: auto;
}

#desc {
    padding-top: 15px;
    width: 70%;
    margin: auto;
    text-align: justify;
}

#example{
    display: flex;
    flex-direction: row;
    margin: auto;
}